# Generate kubeconfig for EKS on all targets
- hosts: all
  remote_user: "{{ sandbox_user }}"
  
  tasks:
    - name: aws eks update-kubeconfig
      ansible.builtin.command: 
        cmd: aws eks update-kubeconfig --name cloud-sandbox-{{ sandbox_environment }}

    - name: generate SA token
      shell: >-
        kubectl -n kube-system create token sandbox-sa --duration=36000s > k8s-token.txt
